@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro';
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header{
    height: 20%;
    background-color: #C1271F;
}

header h1{
    margin-left: 12%;
    margin-top: 4%;
    text-align: center;
}

.filtrador{
    display: flex;
    flex-direction: row;
}

.filtre{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 5px 5px 10px 5px;
    width: 70vw;
}

#estat{
    width: 20vw;
    height: 5vh;
    margin: 0px 0px 2px 0px;
    background-color: white;
    color: black;
    border: none;
}

#dataFiltre{
    width: 40vw;
    height: 5vh;
    background-color: white;
    color: black;
    border: none;
}

#codiPostal{
    width: 40vw;
    height: 5vh;
    background-color: white;
    color: black;
    border: none;

}

#filtrar{
    margin-top: 5px;
    background-color: #F67871;
    border: none;
    border-radius: 7.5px;
    width: 25vw;
    height: 10vh;
}

.entregues{
    background-color: #E0E0E0;
    height: 100%;
}

#ImatgeCamara{
    width: 100%;
}