

@font-face {
    font-family: Maven Pro Bold;
    src: url(../fonts/MavenPro-Bold.ttf);
 }
 
 @font-face {
    font-family: Maven Pro Regular;
    src: url(../fonts/MavenPro-Regular.ttf);
 }
 
 h1, h2, h3, h4, h5, h6{
    font-family: Maven Pro Bold !important;
 }
 *{
    font-family: Maven Pro Regular;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header{
    height: 17%;
    background-color: #C1271F;
}

header h1{
    margin-left: 12%;
    margin-top: 4%;
    text-align: center;
}

.filtrador{
    display: flex;
    flex-direction: row;
}

.filtre{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 5px 5px 10px 5px;
    width: 70vw;
}

#estat{
    width: 20vw;
    height: 5vh;
    margin: 0px 0px 2px 0px;
    background-color: white;
    color: black;
    border: none;
}

#codiPostal{
    width: 40vw;
    height: 5vh;
    background-color: white;
    color: black;
    border: none;

}

#filtrar{
    margin-top: 5px;
    background-color: #F67871;
    border: none;
    border-radius: 7.5px;
    width: 25vw;
    height: 5vh;
}

#entrega{
    background-color: #E0E0E0;
    height: 100%;
}

ul{
    height: auto;
    width: 100%;
}

li{
    height: auto;
    border: 1px solid #C1271F;
    background-color:#A0A0A0;
}

li h2{
    font-size: 25px;
    font-weight: bold;
    color: black;

}

li h3{
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

#ImatgeCamara{
    width: 100%;
}